html
{
    background-color: black;

    animation: 7s infinite alternate ease-out breathing-color--dark;
}

@keyframes breathing-color--dark {
    from
    {
        background-color: black;
    }
    to
    {
        background-color: #110000;
    }
}